/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# OS files
.DS_Store
Thumbs.db

# Third-party assets (templates)
/public/cuba/
/public/solatec/

# Dummy files
info.txt
info2.txt

# Logs
*.log
/storage/logs/*.log
